{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<div id="about_container" class="container">
    <div class="row justify-content-md-center">
        <div class="page_header">Project description</div>
        <div class="description">
            <p>This is classic snake game which is web-based application using JavaScript, Python (FLask) and SQL (Sqlite). It is a fun game to play while waiting for things. Game area is 650x650 px square where player can move the snake around with the arrow keys, catch the food to grow bigger, and avoid hitting own tail (or window border).</p>
            <p>The game itself is written using JavaScript. Python (FLask) is used to check player authentification, store settings and game scores to Sqlite database.</p>
            <p>Player can change game settings at "Settings" section such as food color, snake color, background color, game speed or using area border as an obstacle.</p>
            <p>Higher game speed and using area border as an obstacle give player more score points.</p>
            <p>Player can view top 15 best scores at "Top scores" section.</p>
    </div>
    </div>
</div>
{% endblock %}
